h2 #{grocery.name}

p #[strong Name:] #{grocery.name}
p #[strong Email:] #{grocery.email}

div.actions
  a(
    href=`/grocerys/${grocery.id}/edit`,
    hx-get=`/grocerys/${grocery.id}/edit`,
    hx-target='#content',
    hx-push-url='true'
  ) Edit grocery