ul.grocery-list
  each grocery in grocerys
    li
      a(
        href=`/grocerys/${grocery.id}`,
        hx-get=`/grocerys/${grocery.id}`,
        hx-target='#content',
        hx-push-url='true'
      )= grocery.name

div.actions
  a(
    href='/grocerys/new',
    hx-get='/grocerys/new',
    hx-target='#content',
    hx-push-url='true'
  ) New grocery